
body {
  background-color: #FFC017;
  font-family: system-ui;
  color: #292929;
  font-size: 20px;
  letter-spacing: normal;
  line-height: normal;

}

h1, h2, h3 {
  font-family: serif;
  color: #404040;
  text-decoration: none;

}

a{
  font-family: monospace;
  color: #606060;
  text-decoration: none;
  font-weight: 900;
}

a:hover {
  background-color: bisque;
}


 /* For mobile phones: */
 body {
  margin:40px auto;            /* Center it */
  background-color: black;
  color: snow;
  font-size: 125%;             /* Smaller type works well for print, not the screen. */
  max-width: 80%;             /* If your text hits the side of the browser, fuck off forever. You ever see a book like that? Yes? What a shitty book. */
  font-family: monospace;
}
footer{
  font-size: 80%;
}
@media only screen and (min-width: 813px)
{
  body
  {
       font-size: 150%;             /* Smaller type works well for print, not the screen. */
       max-width: 650px;             /* If your text hits the side of the browser, fuck off forever. You ever see a book like that? Yes? What a shitty book. */
  }
  footer{
  font-size: 80%;
}
}
a {
 text-decoration: none;        /* No <strike>*/
}
a:link    {color: yellow;}   /* unvisited link */
a:visited {color: yellow;}   /* visited link */
a:hover   {color: chartreuse;}         /* mouse over link */
a:active  {color: red;}          /* selected link */
pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
html {
  visibility: visible;
  opacity: 1;
}

